@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import 'leaflet/dist/leaflet.css';

/* ProgramList.module.css */

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }
  
/* Hide scrollbar for carousel on mobile */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



